@use 'variables';

@mixin phone {                          // creamos mixins para los media query, @content se reemplaza por el 
    @media (min-width: variables.$phone) {         // codigo css que se pondra dentro del media query.
        @content;
    }
}

@mixin tablet {                          
    @media (min-width: variables.$tablet) {         
        @content;
    }
}

@mixin desktop {                          
    @media (min-width: variables.$desktop) {         
        @content;
    }
}

@mixin desktop {                          
    @media (min-width: variables.$desktopXL) {         
        @content;
    }
}

@mixin grid($col) {
    display: grid;
    grid-template-columns: repeat($col, 1fr);
    column-gap: 5rem;
}
